<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}ysdh/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}ysdh/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.slides.min.js"></script>
<script type="text/javascript" src="{JS_PATH}search_common.js"></script>
</head>
<body>

<div class="header">
	<div class="top"></div>
	<div class="navbar-inverse nav-collapse collapse">
		<div class="container">
			<div class="navbar navbar-inner">
				{pc:content action="category" catid="0" num="10" siteid="$siteid" order="listorder ASC"}
				<ul class="nav">
					<li><a href="{siteurl($siteid)}" class="first">首页</a></li>
					{loop $data $r}
					<li><a href="{$r[url]}" >{$r[catname]}</a></li>
					{/loop}
					
				</ul>
				{/pc}
			</div>
		</div>
	</div>
	
	