{template "content","header"}
<!--main-->
</div>


<div class="container">

	<div class="row">
		<div class="span9">
			<div class="title">
				<h3>学院简介</h3>
			</div>
			<div class="content">
				<h3>学院简介</h3>

<p>影视动画学院是现代管理大学的特色学院之一，学院开设“影视”和“动画”两个大专业。
影视动画学院是我们结合顶级的社会资源、顺应时代潮流，浓重推出的一个最新的院系。本院将恪守学以致用的务实理念，广泛为毕业生挖掘就业途径，并将优秀学生保送进国内顶级动画项目的制作团队，是我们坚定不移的承诺。本院校以崭新的姿态迎接来自全国各地的莘莘学子，北京这座全国人民都向往的首都，北京现代管理学院影视动画学院这片充满机遇和挑战的热土，将伴随你们度过精彩的求学生涯。</p>

<h3>学院特色</h3>
<p>就业保障好：我们将为每位学生提供多次岗位机会，学生完成学业后，学院积极向自己联盟单位及其他用人单位推荐，以保障学生有充分的就业保障。</p>

<p>教学管理精：学院聘有业内资深专家、国内外名师授课，使学生的学习和训练得到了有力保障。在学校统一体制下，学院实行二级管理，确保学校的教学及管理井然有序。</p>

<p>资格证书：学生在校期间，通过考试可获得本院校颁发的毕业证书和“中国工业和信息化部电情所网游动漫学院项目管理办公室”颁发的全国统一的职业上岗证书。同时，学生通过单招考试，也可获得本院颁发的成教专科或本科毕业证书（国家承认学历），符合学士学位条件者，授予学士学位。</p>

<p>费用收取少：本院校很多专业收费都低于国内同类水平，学生妹年学杂费及生活费低。新生床上用品免费提供，学校没半个月为学生免费清洗一次。学院收取学费时，对符合条件的学生有多项资助减免，享受资助减免的人数将在90%以上，品学兼优的学生享有奖学金，并可保送国内顶级制作团队实习工作。</p>



<h3>联盟单位顶级</h3>

本院战略联盟机构有：
<ul>

<li>中国社会发展基金会名族电影基金——基金以自己投拍的系列电影项目为本院学生就业做强大支持；</li>
<li>国内顶级动画制作团队——作为本院的师资力量；</li>
<li>与美国好莱坞合作的系列科幻动画影视项目（国内顶级）——将作为本院学生的实习内容，本院学生可直接进入行业顶级
项目的制作团队实践学习和工作；</li>
<li>美国好莱坞影视艺术学院——作为本院优秀学生继续发展深造的场所；</li>
<li>美国好莱坞知名动画公司——为本院优秀学生提供参观、实习和深造的珍贵平台；</li>
<li>影视摄影棚、录音棚等——本院校参与中国最资深的科幻影视团队建造的影视动画制作基地，直接为本院学生提供学习、
实践的良好平台，也可为优秀毕业学生提供未来的就业机会；</li>

<li>歌舞剧团、影视中心——本院将加盟由联合国华人友好协会、中国社会文化发展基金会名族电影基金、联合国求真文明促进会、联合国求真文明基金会、世界人民联合会、全国三爱五福工程组委会、联合国（NGO）世界和平基金会等众多国内国际组织联合成立的大型公益主题影视制作中心、艺术团体（在全国乃至世界范围内从事社会公益演出、社会公益主题影视作品的策划和制作），为本院学生的实习和就业挖掘建立广泛的社会渠道，同时，也为把本院学生培养成堆人类有益的人才以致成为未来社会的栋梁提供教育的园地和深造锻炼的舞台。</li>


</ul>
<p>有本院强大的战略联盟机构的支持和提携，只要你酷爱这个专业并付出努力和汗水，本院就必将成为你人生的跳板，跃向你未来人生辉煌的巅峰。</p>


<h3>行业前景</h3>

<p>CG动画专业，在这个科技时代里所带来的作用冲刺着人们的眼球。CG动画行业受到国家政府的大力支持。近年来为了大力发展中国动漫产业，国内出台了很多相关优惠政策，如国务院办公厅转发财政部等部门联合签发的《关于推动我国动漫产业发展若干意见的通知》中，就明确指出中央财政设立扶持动漫产业发展专项基金，建立优秀原创动漫产品评选、奖励和推广机制，设立国家级动漫原创大奖，鼓励动漫出版和播映机构增加国产动漫产品的出版、刊载和播出比例，加强对引进动漫产品的审查，确保动漫产品内容积极健康。2007年9月1日，国家广播电影电视总局要求，在黄金时段（17：00-21：00）专业卡通频道只能播出国产动画片。</p>

<p>CG动画业是未来经济的重要组成部分，也是真人电视电影不可代替的重要领域。美国CG动漫业已连续4年超过好莱坞真人电影业，成为全美娱乐产业的新支柱，譬如《变形金刚》、《功夫熊猫》、《怪物史瑞克》、《汽车总动员》等都达到了真人影视作品所望尘莫及的超高票房。已2005年的日本电影票房为例，票房总收入为6000亿日元，日产影片票房总收入为4081.14亿日元，前十名的票房总额为1954亿日元。其中，动画片就占到了7席，收入达到1242.5亿日元，占到前十名总收入的79.87%，由此可见，动画影视作品较实拍电视电影具有更强的票房影响力，而这其中还未加入市场衍生产品的收益。</p>

<p>国内国际市场都需求巨大，CG动画这艘产业巨轮的生成能量是巨大的，其连带生物链产业也是相当惊人。仅韩国，其动画业的产值就是中国的30倍。就2007年统计，全球数字动漫产业的产值已达3128亿美元，与动画产业相关的周边衍生产品产值则在6000亿美元以上，在发达的欧美国家，动漫产业不仅重要，而且更是国民经济支柱产业及人文体系之一，年市场总量都在数百亿乃至数千亿美元之上。</p>

<p>据2011年智联招聘薪资统计数据显示，动画行业个岗位的薪资（如：3D动漫设计师、超媒体交互设计师、3D模型制作者、UI设计师、栏目后期设计师、3D灯光渲染师等）平均都在6000至10000元之间。</p>

<p>目前，中国动画已进入重要的发展年头，国内从无到有，从弱到强，已经具备与国外大片争夺市场的时机和能力。CG动画、动画影视，在国内、国际上都是公认的朝阳产业，前景自然是一片阳光灿烂。</p>


<h3>培养目标</h3>
<p>本学院培养具有系统地掌握影视动画行业的基本理论知识和技能、具有深厚强大的实践能力、具有较强的社会责任感，在全面发展的基础上突出专业的实战能力、满足社会所需的影视动画专业的中高级人才，为中国的影视动画产业输出新鲜的血液。</p>


<h3>就业方向</h3>

<p>毕业生将进入全国需求影视动画专业的公司、机关、团体、学校及社团组织，如：影视公司、演出公司、文化馆、歌舞剧团、电视台、广告公司、演艺公司、制片公司、摄制组、游戏网站、动画公司、影视动画院校，个大公司的宣传部或网站管理部门等等。
别隐身也可自行创业，成立自己的工作室，还可与本院的联盟合作单位建立长期的业务合作关系，或直接加盟他们的专业旗舰。
毕业生还可以在本院的协助下去国外就业或深造，优秀的学生可以直接进入本院联盟的国内顶级的影视动画创作团队。<p>


<h3>报名提示</h3>
<ol>
<li>报名条件：遵纪守法，无违法犯罪记录；五官端正、身体健康、爱好影视动画或有一定的专业基础。</li>
<li>招生对象：招收应届、往届高中毕业及同等学历的中专、职高和艺校、动画培训机构的学生。初中毕业生可在我院就读一念预科，然后升入大学阶段课程学习。</li>
<li>报名方式：学生可在我院校招生办或在我院驻当地的招生办直接报名，也可通过网上、电话、来信、发传真报名。报名时缴纳报名费100元/人。</li>
<li>录取方式：凡报名者，经学校审核后，对符合条件者，发放录取通知书。</li>
<li>报到手续：报到时需交本人近期免冠彩色照片1寸、2寸个四张，学历证书、本人身份证原件、复印件及档案关系。</li>
</ol>
			</div>
		</div>
		{template "content","right"}
	</div>
</div>


{template "content","footer"}
</body>
</html>
