{template "content","header"}
<!--main-->
</div>
	<style type="text/css">
	table{
		border:1px solid #000; 
		border-collapse: collapse;
		width: 600px;		
	}
	table td,table, th{
		border:2px solid #000;
		padding: 5px;
	}
	.ta, .tb, .tc, .td, .te{
		width: 5em;

	}
	.tc{
		width: 10em;
	}
	</style>

<div class="container">

	<div class="row">
		<div class="span9">
			<div class="title">
				<h3>课程设置</h3>
			</div>
			<div class="content">
				
	<div>
	<h2>专业介绍</h2>
	<table>
		<tr>
			<th class="ta">专业</th>
			<th class="ta">专业方向</th>
			<th class="ta">学制</th>
		</tr>
		<tr>
			<td>动画专业</td>
			<td>美术设计（CG美术设计；平面设计；数字绘画）/动画片生产流程/Flash系列/3DSMAX系列/后期合成（动画片制作实习）/Maya系列（动画片毕业设计与实习）</td>
			<td>3年/4年</td>
		</tr>
		<tr>
			<td>影视表演艺术</td>
			<td>影视表演/武术表演</td>
			<td>3年/4年</td>
		</tr>
		<tr>
			<td>影视美术设计</td>
			<td>影视美术/数码影像/化妆造型</td>
			<td>3年/4年</td>
		</tr>
		<tr>
			<td>编导</td>
			<td>影视编导/影视后期制作</td>
			<td>3年/4年</td>
		</tr>
		<tr>
			<td>摄影摄像</td>
			<td>摄影/摄像</td>
			<td>3年/4年</td>
		</tr>
		<tr>
			<td>影视管理</td>
			<td>影视策划与管理</td>
			<td>3年/4年</td>
		</tr>
	</table>
	<em>住：学费及其他收费项目和标准祥见现代管理大学《招生简章》</em>
	</div>

	<div>
		<h2>课程简介</h2>
		<p>
			以实践及应用为主要学习目的，以影视制作流程为主线，针对动画、绑定模块进行重点学习。并以国内外各种实战项目为实例，对学员进行全面、系统的专业培养训练，有针对性的培养能适合各种规模公司的专业影视从业人员、动画角色动画师、绑定师等。
			对于学习优秀的学员，学院会推荐在学习期间直接参与到本校联盟影视公司内部保密的科幻大片及动画项目的制作，在学习的同时积累项目制作的经验，这也是本影视动画学院的主要特色之一，学生可以用作品来体现自己的价值！
			动画专业针对人群：三维软件零基础，了解计算机的基础应用，具备刻苦学习的意志，有一定审美能力，有自学能力，热爱CG动画事业，希望用自己的双手创造出属于自己的动画片或希望从事三维动画事业的青年。
		</p>
	</div>

	<div>
		<h2>实习动画项目简介</h2>
		<p>
			本院将加盟中国动画电影的破冰之作《恐龙人王国》的出品，该片全国一流的制作团队将轮流为本院学生授课。
			本院的学生都将有幸加入该片制作团队实习，游戏的学生将参与本片的制作，并在片尾制作人员名单中署名。
		</p>
		<h2>《恐龙人王国》故事简介</h2>
		<p>

		</p>
	</div>

	<div>
		<table>
			<tr>
				<th class="ta">专业方向</th>
				<th class="tb">课程模块</th>
				<th class="tc">章节</th>
				<th class="td">就业方向</th>
				<th class="te">学期</th>
			</tr>
			<tr>
				<td rowspan="5">动漫模型/动画设计</td>
				<td>动漫模型<br />渲染设计</td>
				<td>CG艺术基础<br />场景道具模型<br />角色模型<br />3ds MAX场景道具模型<br />模型经典商业案例临摹<br />灯光应用与布光原理<br />材质与渲染表现<br />道具贴图绘制<br />场景贴图绘制于渲染合成<br />Mental ray高级渲染技术<br />角色贴图绘制于渲染合成<br />模型渲染经典商业案例临摹</td>
				<td>完成本课程的学习后，学院既能够承担动画片、动画电影中的三维场景和角色设计与材质灯光设计工作，也能胜任虚拟现实等行业中三维场景设计工作</td>
				<td rowspan="5">7个月</td>
			</tr>
			<tr>
				<td>动漫动画设计</td>
				<td>绑定控制技术<br />角色绑定技术<br />动画原理<br />角色肢体<br />表情动画<br />动画经典商业案例临摹</td>
				<td>完成本课程的学习后，学员将会胜任动画电视剧、电视广告、网络游戏、移动媒体等三维角色动画设计工作。</td>
			</tr>
			<tr>
				<td>项目开发模型</td>
				<td>原创商业项目开发模型</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>艺术修养</td>
				<td>艺术修养训练</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>职业素养</td>
				<td>职业素养训练</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td rowspan="5">动漫模型<br >特效设计</td>
				<td>动漫模型<br >渲染设计</td>
				<td>CG艺术基础<br >场景道具模型<br >角色模型<br >3ds MAX场景道具模型<br >模型经典商业案例临摹<br >灯光应用与布光原理<br >材质与渲染表现<br >道具贴图绘制<br >场景贴图绘制于渲染合成<br >Mental ray高级渲染技术<br >角色贴图绘制于渲染合成<br >模型渲染经典商业案例临摹</td>
				<td>完成本课程的学习后，学院既能够承担动画片、动画电影中的三维场景和角色设计与材质灯光设计工作，也能胜任虚拟现实等行业中三维场景设计工作</td>
				<td rowspan="5">7个月</td>
			</tr>
			<tr>
				<td>动漫特性设计</td>
				<td>粒子特效<br >Maya特效集<br >粒子表达式高级应用<br >刚体技术<br >软体技术<br >Maya N动力学系统<br >Painteffects特效<br >Fur与Hair毛发技术<br >After Effect 特效与合成技术<br >特效经典商业案例临摹</td>
				<td>完成本课程学习后，学员能够满足三维动画中各类特效的制作要求，承担基础特效制作任务，也能胜任影视动画中的后期合成工作。主要的就业方向是专业的动画制作公司、广告公司、影视特效公司等。</td>
			</tr>
			<tr>
				<td>项目开发模拟</td>
				<td>原创商业项目开发模拟</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>艺术修养</td>
				<td>艺术修养训练</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>职业素养</td>
				<td>职业素养训练</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
				<td rowspan="5">动漫模型<br >特效设计</td>
				<td>动漫模型<br >渲染设计</td>
				<td>CG艺术基础<br >场景道具模型<br >角色模型<br >3ds MAX场景道具模型<br >模型经典商业案例临摹<br >灯光应用与布光原理<br >材质与渲染表现<br >道具贴图绘制<br >场景贴图绘制于渲染合成<br >Mental ray高级渲染技术<br >角色贴图绘制于渲染合成<br >模型渲染经典商业案例临摹</td>
				<td>完成本课程的学习后，学院既能够承担动画片、动画电影中的三维场景和角色设计与材质灯光设计工作，也能胜任虚拟现实等行业中三维场景设计工作</td>
				<td rowspan="5">7个月</td>
			</tr>
			<tr>
				<td>动漫栏包后期设计</td>
				<td>视觉表现<br >After Effect 软件技术<br >After Effect 综合案例<br >After Effect 经典商业案例临摹<br >二位栏包片制作<br >三维栏包片制作<br >栏包经典商业案例临摹</td>
				<td>完成本课程学习后，学员能够胜任电视台、广告公司、影视公司、网络媒体等企业的栏目包装师、影像合成师、视频制作师、剪辑师等岗位</td>
			</tr>
			<tr>
				<td>项目开发模拟</td>
				<td>原创商业项目开发模拟</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>艺术修养</td>
				<td>艺术修养训练</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>职业素养</td>
				<td>职业素养训练</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<em>注：培训学生在校期间，通过考试可获得“中国工业和信息化部电情所网游动漫学院项目管理办公室”颁发的全国统一的职业上岗证书。</em>
	</div>

			</div>
		</div>
		{template "content","right"}
	</div>
</div>
{template "content","footer"}
</body>
</html>
