{template "content","header"}
</div>

<div class="container">
	<div class="row crumbs">
		<span>您现在的位置：</span>
		<a href="{siteurl($siteid)}">首页</a><span>&gt;</span>
		{catpos($catid)} 正文
	</div>
	<div class="row">
		<div class="span9 t-info">
			<div class="title"> {$CATEGORYS[$catid]['catname']}
			</div>
			
			<div class="content">
				<div class="article-title">{$title}</div>
				<div class="article-info">
					发布日期：{$inputtime} 
				</div>
				<div>
					<p>
    本专业课程是以培养影视特效方面人才为目的，针对影视动画制作中所需要培养的各种能力进行教学。 课程除了主要学习电影大片中    本专业课程是以培养影视特效方面人才为目的，针对影视动画制作中所需要培养的各种能力进行教学。 课程除了主要学习电影大片中    本专业课程是以培养影视特效方面人才为目的，针对影视动画制作中所需要培养的各种能力进行教学。 课程除了主要学习电影大片中
					</p>
					<p>
    本专业课程是以培养影视特效方面人才为目的，针对影视动画制作中所需要培养的各种能力进行教学。 课程除了主要学习电影大片中    本专业课程是以培养影视特效方面人才为目的，针对影视动画制作中所需要培养的各种能力进行教学。 课程除了主要学习电影大片中    本专业课程是以培养影视特效方面人才为目的，针对影视动画制作中所需要培养的各种能力进行教学。 课程除了主要学习电影大片中    本专业课程是以培养影视特效方面人才为目的，针对影视动画制作中所需要培养的各种能力进行教学。 课程除了主要学习电影大片中
					</p>
				</div>

				<div class="article-more">
					<span>上一篇：</span><a href="{$previous_page[url]}">{$previous_page[title]}</a>
					<span>下一篇：</span><a href="{$next_page[url]}">{$next_page[title]}</a>
				</div>
				
			</div>
			{pc:content action="relation" relation="$relation" id="$id" catid="$catid" num="5" keywords="$rs[keywords]"}
              {if $data}
                <div class="related">
                    <h5 class="blue">延伸阅读：</h5>
                    <ul class="list blue lh24 f14">
                        {loop $data $r}
                            <li>·<a href="{$r[url]}" target="_blank">{$r[title]}</a><span>({date('Y-m-d',$r[inputtime])})</span></li>
                        {/loop}
                    </ul>
                </div>
              {/if}
          {/pc}
		</div>

		{template "content","right"}
	</div>


</div>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}