{template 'content', 'header'}
<script type="text/javascript" src="{JS_PATH}jquery.metadata.js"></script>
<script type="text/javascript" src="{JS_PATH}validation/jquery.validate.js"></script>
<script type="text/javascript" src="{JS_PATH}validation/validate.lang-zh-CN.js"></script>
<script type="text/javascript" src="{JS_PATH}validation/validate.password.js"></script>
<script type="text/javascript" src="{JS_PATH}validation/jquery.form.js"></script>
<link href="{JS_PATH}validation/validate.css" rel="stylesheet" type="text/css" />

<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
</div>
<div class="container">

	<div class="row">
		 <div class="hero-unit">
		 	<h1>报名成功</h2>
		 	</div>
	</div>

</div>


{template 'content', 'footer'}